{% extends 'layouts/base.html' %}

{% block title %} Room Detail {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="/rooms">Rooms</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ room['roomname'] }}</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="#" class="btn btn-sm btn-neutral">View live camera</a>
              <a href="#" class="btn btn-sm btn-danger">Lock door</a>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Last unlocked</h5>
                      <span class="h2 font-weight-bold mb-0">Ona Demuytere</span>
                    </div>

                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap">Today, 10:03:29</span>
                  </p>
                    <p class="mt-3 mb-0 text-sm">
                      <div class="col d-flex justify-content-center">
                        <a href="/history-room/{{ room['id'] }}" class="btn btn-sm btn-primary">View history</a>
                      </div>
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-12">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="card-title text-uppercase text-white mb-0">Schemes</h5>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                      <a href="#" class="btn btn-sm btn-primary py-1 px-3">Add scheme</a>
                      <button type="button" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#addScheme">
                        Add scheme - modal
                      </button>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
             <!-- here the groups -->
              <div class="row">
                {% for scheme in schemes %}
                  <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <span class="h2 font-weight-bold mb-0">{{ scheme['schemename'] }}</span>
                    </div>

                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap">
                      {% for day in days_of_week %}
                        {% if scheme[day] %}
                          {{ day }}:<br>
                          {% for s in scheme[day] %}
                          {{ s }} <br>
                          {% endfor %}
                        {% else %}
                          {{ day }}: / <br>
                        {% endif %}
                      {% endfor %}
                    </span>
                  </p>
                    <p class="mt-3 mb-0 text-sm">
                      <div class="col d-flex justify-content-center">
                        <a href="#!" class="btn btn-sm btn-secundary">Edit</a>
                      </div>
                    </p>
                </div>
              </div>
            </div>
                {% endfor %}

          </div>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

    <!-- Add scheme modal-->
    <div class="modal fade" id="addScheme" tabindex="-1" role="dialog" aria-labelledby="addSchemeLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addSchemeLabel">Add a room</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" method="post">
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-building"></i></span>
                  </div>
                  <input name="name" class="form-control" placeholder="Name of room" type="text">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                  </div>
                  <input name="location" class="form-control" placeholder="Location" type="text">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="btn btn-color">
                    <input name="image" class="form-control" placeholder="Image" type="file">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add room</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
